body {
  margin: 0;
  background: #050b12;
  font-family: "Fira Code", monospace;
  color: #c9faff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.terminal {
  width: 900px;
  background: #000;
  border: 2px solid #00ffd5;
  box-shadow: 0 0 30px #00ffd5;
}

.header {
  padding: 8px;
  border-bottom: 2px solid #00ffd5;
  color: #00ffd5;
}

.screen {
  padding: 20px;
  height: 420px;
  overflow-y: auto;
  white-space: pre-wrap;
}

.prompt {
  color: #00ffd5;
}

.output {
  margin-bottom: 10px;
}

.input-line {
  padding: 12px;
  border-top: 2px solid #00ffd5;
  display: flex;
}

input {
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 1em;
  width: 100%;
}
